/* .custom-color{
    width: 56px;
    height: 56px;
    
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;

background: #00FF88;
background: linear-gradient(0deg, rgba(0, 255, 136, 1) 0%, rgba(0, 212, 255, 1) 100%);
    
} */



.img-size{
    width: 1rem;
}


.sidebar {
  width: 260px;
  height: 100vh;
  position: fixed;
  background: linear-gradient(180deg, #0a1a3b, #071028);
  padding: 25px 20px;
  color: #fff;
 
}

.logo-box {
  width: 55px;
  height: 55px;
  background: #1de6c6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin: 2rem auto;
}

.logo-icon {
  font-size: 24px;
  color: #0a1a3b;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 14px;
  margin-bottom: 15px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
    
}

/* .menu-item:hover {
  background: rgba(255, 255, 255, 0.06);
   background-image: url(../assets/bgimage.png);
} */

/* .menu-item.active {
  background: rgba(255, 255, 255, 32%);
box-shadow: 0px 0px 50px 1px rgba(248,248,248,0.87);
  border: 1px solid rgba(255, 255, 255, 0.14);
   background-image: url(../assets/bgimage.png);
   background-size: cover;
   background: #FFFF;
background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(108, 113, 171, 0.5) 0%, rgba(255, 255, 255, 1) 89%);
} */

.logout {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 160px;
  color: #ff0000;
  cursor: pointer;
}


.custom-box.active {
  display: flex;
  align-items: center;
  gap: 16px;

  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;

  border-radius: 12px;
  border: 1px solid #ffffff;

  background: linear-gradient(
    to bottom,
    #152252,
    #111b3c
  );

  box-shadow:
    0px 42px 107px 0px rgba(87, 177, 255, 0.34),
    inset 0px 1px 18px 0px #d2eaff;

  transition: all 0.3s ease;
}